.button {
  padding: 5px;
}

.dropbtn {
  background-color: #0025ca;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdownSynth {
  margin-top: 15px;
  position: relative;
  display: inline-block;
}

.effects {
  margin: 15px 25%;
  position: relative;
  display: inline-block;
}

.play_buttons {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  margin-left: -40%;
  justify-content: space-evenly;
}

#files {
  display: none;
  flex-direction: row;
  margin-top: 3%;
}
